body {
 
    display:inline;
     font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color:blueviolet; /*----------------*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}


.container-fluid { 
 
    overflow:hidden;
    color: white;
 
}
 
 

.nav {
    
    color:#2f2f1e;
}

.navbar-header {

    border-color: #000;

}
.navbar {
    border-radius: 20px;
    position:relative;
    min-height: 10px;
    margin-bottom: 20px;
    margin-right:60px;
    margin-left:60px;
    background-color:#1a1a1a;
    box-sizing: border-box;
    
  }



img {

    width:150px;
    height:100px;
    border-radius: 30px 30px 30px 30px;
}
 
  
footer {
    
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#1a1a1a;
   color: white;
   text-align:center;
   height: 40px;


}

li:hover {
    
  background-color: blue;
  
}
  
.fab {
    
    padding:0px;
    padding-bottom:40px;
    font-size: 32px;
    width: 40px;
    text-align: center;
    text-decoration: none;
      
}

.fa:hover {
    
    opacity: 0.7;
}
   
    

.jumbotron {

    background-color:powderblue;
    text-align: center;
    color:black;
      
}
  

.glyphicon {
    
    padding-left:30px;
    padding-right:30px;

}


 .glyphicon:hover {

 }     
    

.album-rows {
    
    margin-top: 10px;
    
    
}

.fas {
    
    padding:0px;
    padding-bottom:40px;
    font-size: 32px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}

/*--------------------------------------------*/
