html {
  
   font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
       background: url(/assets/images/dgbg6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* set background image per page */


body {
 
  display:inline;
  
}

/*----------------MEDIA QUERIES*/

/*-------------------NAVBAR*/
.nav{
    
    color:#2f2f1e;
}

.navbar-header {

    border-color: #000;

}
.navbar {
    border-radius: 20px;
    position:relative;
    min-height: 10px;
    margin-bottom: 20px;
    margin-right:30px;
    margin-left:auto;
    background-color:#1a1a1a;
  }


.container-fluid {
   padding-right: 30px;
    padding-left: 40px;
    margin-right:auto;
    margin-left: auto;
    
}




img {

 
width:150px;
 height:100px;

}
  
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color:#1a1a1a;
   color: white;
   text-align: left;
   height: 40px;

}

li:hover {
  background-color: green;
  
}
     

   
/*--------FONT AWESOME------------SOCIAL MEDIA ICONS*/
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.fa {
  padding:0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
/*-------------------DROPDOWN*/



/*--------------------------------------------Heading*/

/*--------------------------------------------Heading*/


/*--------------------------------------------Heading*/
